BASE_DOMAIN=shome
CERTRESOLVER=stepca

TRAEFIK_DYNAMIC=/opt/netlab-stack/traefik/dynamic
TRAEFIK_CERTS=/opt/netlab-stack/traefik/certs
TRAEFIK_ACME=/opt/netlab-stack/traefik/acme
TRAEFIK_STEPCA=/opt/netlab-stack/traefik/stepca

ADGUARD_CONF=/opt/netlab-stack/adguard/conf
ADGUARD_WORK=/opt/netlab-stack/adguard/work

